<div class="row">
    <div class="col-md-10">
        <div class="overview-wrap">
            <h2 class="title-1">Materia Prima</h2>
            <form action="/materia-prima/add">
                <button class="au-btn au-btn-icon au-btn--blue">
                    <i class="zmdi zmdi-plus"></i>REFRESCAR DATA</button>
            </form>
        </div>
    </div>
</div>
<div class="row m-t-25"></div>
<div class="row">
    <div class="col-lg-20" style="width: 780px;">
        <div class="au-card recent-report">
            <div class="au-card-inner">
                <h3 class="title-2">Registro</h3>
                <div class="signup-form">
                    <form action="/materia-prima/nueva-materia" method="POST" class="register-form" id="register-form">
                        <div class="form-row">
                            <div class="form-group">
                                <div class="form-input" style="visibility: hidden;">
                                    <input type="text" name="codigo_materiaPrima" id="codigo_producto" value="0" />
                                </div>
                                <div class="form-input">
                                    <label for="materiaprimaName" class="required">Nombre</label>
                                    <input type="text" name="nombre" id="nombre" />
                                </div>
                                <div class="form-input">
                                    <label for="materiaprimaName" class="required">Nombre Corto</label>
                                    <input type="text" name="nombreCorto" id="nombreCorto" />
                                </div>
                                <div class="form-input">
                                    <label for="materiaprimaUnidad" class="required">Unidad de medida</label>
                                    <input type="text" name="unidadDeMedida" id="unidadDeMedida" />
                                </div>
                                <div class="form-input">
                                    <label for="materiaprimaAlias" class="required">Alias</label>
                                    <input type="text" name="alias" id="alias" />
                                </div>
                                <div class="form-input">
                                    <label for="materiaprimaUbicacion" class="required">Ubicacion</label>
                                    <input type="text" name="ubicacion" id="ubicacion" />
                                </div>
                                <div class="form-submit">
                                    <input type="submit" value="Submit" class="submit" id="submit" name="submit" />
                                </div>
                            </div>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-t-25"></div>

    <div class="row">
        <div class="col-md-12">
            <!-- DATA TABLE -->
            <h3 class="title-5 m-b-35">Listado</h3>
            <div class="table-data__tool">
                <div class="table-data__tool-left">
                    <div class="rs-select2--light rs-select2--md">

                    </div>


                </div>
                <div class="table-data__tool-right">

                    <div class="rs-select2--light">
                        <form action="/materia-prima/obtener-materia/:" codigo_materiaPrima method="GET"
                            class="form-header" action="" method="">
                            <input class="au-input " type="text" name="codigo_materiaPrima" id="codigo_materiaPrima"
                                placeholder="Buscar" />
                            <button class="au-btn--submit" value="Submit" type="submit">
                                <i class="zmdi zmdi-search"></i>
                            </button>
                        </form>
                    </div>

                </div>
            </div>
            <div class="table-responsive table-responsive-data3">
                <table class="table table-data2">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Descripción</th>
                            <th>Nombre Corto</th>
                            <th>Cantidad</th>
                            <th>Unidad de Medida</th>
                            <th>Alias</th>
                            <th>Ubicacion</th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                        {{#each materias}}
                        <tr class="tr-shadow">

                            <td>{{this.codigo_materiaPrima}}</td>
                            <td>{{this.nombre}}</td>
                            <td class="desc">{{this.nombreCorto}}</td>
                            <td>{{this.cantidad}}</td>
                            <td>{{this.unidadDeMedida}}</td>
                            <td>{{this.alias}}</td>
                            <td>{{this.ubicacion}}</td>
                            <td>
                                <div class="table-data-feature">
                                    <form action="/materia-prima/editar/{{codigo_materiaPrima}}">
                                        <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                    </form>
                                    <form
                                        action="/materia-prima/eliminar-materia/{{codigo_materiaPrima}}?_method=DELETE"
                                        method="POST">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                            <i class="zmdi zmdi-delete"></i>
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        <tr class="spacer"></tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <!-- END DATA TABLE -->
        </div>
    </div>