<div class="row">
    <div class="col-md-10">
        <div class="overview-wrap">
            <h2 class="title-1">Materia Prima</h2>
           
        </div>
    </div>
</div>
<div class="row m-t-25"></div>
<div class="row">
    <div class="col-lg-20" style="width: 780px;">
        <div class="au-card recent-report">
            <div class="au-card-inner">
                <h3 class="title-2">Editar</h3>
                <div class="signup-form">
                    {{#each materia}}
                     <form action="/materia-prima/editar-materia/{{this.codigo_materiaPrima}}?_method=PUT" method="POST" class="register-form" id="register-form">
                        <input type="hidden" name="_method" value="PUT">
                        <div class="form-row">
                            <div class="form-group">
                                <div class="form-input">
                                    <label for="materiaprimaName" class="required">Nombre</label>
                                    <input type="text" name="nombre" id="nombre" value="{{this.nombre}}" />
                                </div>
                                <div class="form-input">
                                    <label for="materiaprimaName" class="required">Nombre Corto</label>
                                    <input type="text" name="nombreCorto" id="nombreCorto" value="{{this.nombreCorto}}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-input">
                                    <div class="form-input">
                                        <label for="materiaprimaUnidad" class="required">Unidad de medida</label>
                                        <input type="text" name="unidadDeMedida" id="unidadDeMedida" value="{{this.unidadDeMedida}}"/>
                                    </div>
                                    <div class="form-input">
                                        <div class="form-input">
                                            <label for="materiaprimaAlias" class="required">Alias</label>
                                            <input type="text" name="alias" id="alias" value="{{this.alias}}"/>
                                        </div>
                                        <div class="form-input">
                                            <div class="form-input">
                                                <label for="materiaprimaUbicacion" class="required">Ubicacion</label>
                                                <input type="text" name="ubicacion" id="ubicacion" value="{{this.ubicacion}}"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-submit">
                                    <input type="submit" value="Submit" class="submit" id="submit" name="submit" />
                                </div>
                    </form>
                    {{/each}}
            </div>
        </div>
    </div>
</div>
<div class="row m-t-25"></div>
