<div class="row">
    <div class="col-md-10">
        <div class="overview-wrap">
            <h2 class="title-1">Productos</h2>
            <form action="/producto/add">
                <button class="au-btn au-btn-icon au-btn--blue">
                    <i class="zmdi zmdi-plus"></i>REFRESCAR DATA</button>
            </form>
        </div>
    </div>
</div>

<div class="row m-t-25"></div>
<div class="row">
    <div class="col-lg-20" style="width: 780px;">
        <div class="au-card recent-report">
            <div class="au-card-inner">
                <h3 class="title-2">Registro</h3>
                <div class="signup-form">
                    <form action="/producto/nuevo-producto" method="POST" class="register-form" id="register-form">
                        <div class="form-row">
                            <div class="form-group">
                                <div class="form-input" style="visibility: hidden;">
                                    <input type="text" name="codigo_producto" id="codigo_producto" value="0" />
                                </div>
                                <div class="form-input">
                                    <label for="productosName" class="required">Descripci贸n</label>
                                    <input type="text" name="descripcion" id="descripcion" />
                                </div>
                                <div class="form-input">
                                    <label for="productosShortName" class="required">Nombre
                                        Corto</label>
                                    <input type="text" name="nombreCorto" id="nombreCorto" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-input">
                                    <label for="productosReorden" class="required">Punto de
                                        Re-Orden</label>
                                    <input type="text" name="puntoReorden" id="puntReorden" />
                                </div>
                                <div class="form-input">
                                    <label for="productos_Medida" class="required">Unidad de
                                        Medida</label>
                                    <input type="text" name="unidadDeMedida" id="unidadDeMedida" />
                                </div>
                                <div class="form-input" style="visibility: hidden;">
                                    <input type="text" name="codigo_materiaPrima" id="codigo_materiaPrima" value="0" />
                                </div>
                            </div>
                        </div>
                </div>

                <div class="form-submit">
                    <input type="submit" value="Submit" class="submit" id="submit" name="submit" />
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row m-t-25"></div>

<div class="row">
    <div class="col-md-12">
        <!-- DATA TABLE -->
        <h3 class="title-5 m-b-35">Listado</h3>
        <div class="table-data__tool">

            <div class="table-data__tool-right">

               <div class="rs-select2--light">
                   <form action="/producto/obtener-producto/:"codigo_cliente method="GET" class="form-header" action="" method="">
                        <input class="au-input " type="text" name="codigo_producto" id="codigo_producto" placeholder="Buscar" />
                        <button class="au-btn--submit" value="Submit" type="submit">
                            <i class="zmdi zmdi-search"></i>
                        </button>
                    </form>
                </div>


            </div>
        </div>
        <div class="table-responsive table-responsive-data3">
            <table class="table table-data2">
                <thead>
                    <tr>
                        <th>C贸digo</th>
                        <th>Descripci贸n</th>
                        <th>Nombre Corto</th>
                        <th>Punto Re-Orden</th>
                        <th>Unidad de Medida</th>
                        <th>C贸digo Materia Prima</th>

                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    <tr class="tr-shadow">
                        {{#each productos}}
                        <td>{{this.codigo_producto}}</td>
                        <td>{{this.descripcion}}</td>
                        <td>{{this.nombreCorto}}</td>
                        <td>{{this.puntoReorden}}</td>
                        <td>{{this.unidadDeMedida}}</td>
                        <td>{{this.codigo_materiaPrima}}</td>
                        <td>
                            <div class="table-data-feature">
                                <form action="/producto/editar/{{codigo_producto}}">
                                <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                    <i class="zmdi zmdi-edit"></i>
                                </button>
                                </form>
                                <form action="/producto/eliminar-producto/{{codigo_producto}}?_method=DELETE" method="POST">
                                <input type="hidden" name="_method" value="DELETE">
                                <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                    <i class="zmdi zmdi-delete"></i>
                                </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    <tr class="spacer"></tr>
                {{/each}}


                </tbody>
            </table>
        </div>
        <!-- END DATA TABLE -->
    </div>
</div>