<div class="row">
    <div class="col-md-10">
        <div class="overview-wrap">
            <h2 class="title-1">Productos</h2>
            
        </div>
    </div>
</div>

<div class="row m-t-25"></div>
<div class="row">
    <div class="col-lg-20" style="width: 780px;">
        <div class="au-card recent-report">
            <div class="au-card-inner">
                <h3 class="title-2">Editar</h3>
                <div class="signup-form">
                   {{#each producto}}
                      <form action="/producto/editar-producto/{{this.codigo_producto}}?_method=PUT" method="POST" class="register-form" id="register-form">
                        <input type="hidden" name="_method" value="PUT">
                        <div class="form-row">
                            <div class="form-group">
                                <div class="form-input">
                                    <label for="productosName" class="required">Descripción</label>
                                    <input type="text" name="descripcion" id="descripcion" value="{{this.descripcion}}"/>
                                </div>
                                <div class="form-input">
                                    <label for="productosShortName" class="required">Nombre
                                        Corto</label>
                                    <input type="text" name="nombreCorto" id="nombreCorto" value="{{this.nombreCorto}}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-input">
                                    <label for="productosReorden" class="required">Punto de
                                        Re-Orden</label>
                                    <input type="text" name="puntoReorden" id="puntReorden" value="{{this.puntoReorden}}"/>
                                </div>
                                <div class="form-input">
                                    <label for="productos_Medida" class="required">Unidad de
                                        Medida</label>
                                    <input type="text" name="unidadDeMedida" id="unidadDeMedida" value="{{this.unidadDeMedida}}" />
                                </div>
                            </div>
                        </div>
                </div>

                <div class="form-submit">
                    <input type="submit" value="Submit" class="submit" id="submit" name="submit" />
                </div>
                </form>
                {{/each}}
            </div>
        </div>
    </div>
</div>
<div class="row m-t-25"></div>
